* {
  user-select: none;
}
td,
th,
table {
  border: 1px solid;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  width: 300px;
}

th,
td {
  padding: 1rem;
}
.d-none {
  display: none;
}
button {
  margin: 1rem 0;
}
section {
  margin: 1rem;
}

.cursor-p {
  cursor: pointer;
}
